@page "/State"
    <ul class="nav flex-column">
        <li>
            <NavLink href="/State/NotHandeled">
                Not Handled
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/PassParent">
                Send Parent As Parameter
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/CascadingParameter">
                Cascading Parameter
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/CascadingParameterCustomProperties">
                Cascading Parameter Custom Properties
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/StateContainer">
                State Container
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/StateContainerCustomProperties">
                State Container Custom Properties
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/StateContainerBaseComponent">
                State Container Base Component
            </NavLink>
        </li>
        <li>
            <NavLink href="/State/StateContainerBaseComponentDontRenderParent">
                State Container BaseComponent not Render Parent
            </NavLink>
        </li>
    </ul>










