<h3>Edit user details</h3>
<form>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" @bind="Home.User.Name" />
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" @bind="Home.User.Email" />
    </div>
    
    <button type="button" class="btn btn-primary" @onclick="_=> this.Home.ChangeState()">Submit</button>

</form>
    @code {
        [Parameter] public Home Home { get; set; }
    }
